.custom-invisalign-teen
  &__container
    @extend .container-fluid
    margin-bottom: rem-calc(64)

  &__image
    @extend .col-sm-8
    @extend .col-sm-offset-2
    background-size: cover
    height: rem-calc(425)

    @media screen and (max-width: $screen-sm)
      display: none

  &__body
    @extend .col-sm-8
    margin-bottom: rem-calc(64)

  &__section-title
    @extend h2
    margin-bottom: rem-calc(16)
    text-transform: uppercase
    letter-spacing: 2px
    color: $c2
    font-weight: 600

  &__title
    @extend h4
    margin: rem-calc(16) 0
    text-transform: uppercase
    letter-spacing: rem-calc(2)

    &:hover
      cursor: pointer

  &__content
    @extend %p1
    margin-top: rem-calc(16)
    margin-bottom: rem-calc(16)

    a
      color: $c7
