.custom-invisalign-teen
  .custom-invisalign-teen__container
    .custom-invisalign-teen__body
      .custom-invisalign-teen__content(v-html='props.content')
    
    .custom-invisalign-teen__image(:style="{backgroundImage: 'url('+ props.image +')'}")
