.custom-invisalign-teen
  &__container
    @extend .container-fluid

  &__image
    @extend .col-sm-6

  &__body
    @extend .col-sm-10
    @extend .col-sm-offset-2

  &__title
    @extend h4
    font-weight: 600
    letter-spacing: 2px
    text-transform: uppercase

  &__content
    @extend %p1
    margin-top: rem-calc(16)
    margin-bottom: rem-calc(64)
