.custom-get-started-section
  .custom-get-started-section__container
    .custom-get-started-section__textarea(v-html='props.content')
      
    .custom-get-started-section__image-container
      .custom-get-started-section__image(:style="{ backgroundImage: 'url('+ props.image +')'}")
