.block-treatments-body
  .block-treatments-body__container
    .block-treatments-body__title(v-html='props.title')
      | {{ props.title }}
    .block-treatments-body__body(v-html='props.body')
      | {{ props.body }}
    .block-treatments-body__list(v-html='props.list')
      | {{ props.list }}
