.pages-getting
  display: block
  .hero
    position: relative
    float: left
    width: 100%
    height: 80vh
  .hero__backgroundimage
    position: absolute
    top: 0
    right: 0
    left: 0
    float: left
    height: 80vh
  .hero__text-box
    position: absolute
    top: 50%
    left: 10%
    transform: translateY(-70%)
    width: 40%
    @media (min-width: 1024px) and (max-width: 1280px)
      left: 5%
      transform: translateY(-90%)
      width: 60%
  .hero__title
    @extend %hero-small
    text-transform: uppercase
    color: $c2
    font-size: rem-calc(24)

  .hero__subtext
    @extend %hero
    text-transform: uppercase
    color: $c8

  .section-5
    .block-text-box__bg
      background: $c9
    .block-text-box__body
      padding: 0
    .block-text-box__title
      margin-left: 0
      padding-left: 0
      text-align: left
    .block-text-box__subtitle
      @extend .col-sm-offset-1
      margin-left: 0
      padding-left: 0
      .block-subheader
        font-size: rem-calc(18)
    .block-text-box__col--right
      padding-left: calc(100% * 1 / 18)
      .block-text-box__body
        padding-right: 20%
