.pages-getting
  Loader(v-show='loading')
  BackgroundLogo
  div(v-if='props')
    NavTrigger
      Hero(:props='props.acf.hero')
    CustomGetStartedFirstVisit(:props='props.acf.section_1')
    CustomGetStartedSection(:props='props.acf.section_2')
    CustomGetStartedServices(:props='props.acf.section_4')
    SliderAboutUsOffice(:props='props.acf.slider_about_us_office')
    BlockTextBox(:props='props.acf.section_5')
      .block-text-box(slot='header')
        | {{ props.acf.section_5.title }}
      .block-text-box(slot='subheader')  
        | {{ props.acf.section_5.sub_title }}
      .block-text-box(slot='body' v-html='props.acf.section_5.body')
    CustomPatientForms(:props='props.acf.section_6')