.repeaters-tabs-home
  .repeaters-tabs-home__container
    .repeaters-tabs-home__body
      .repeaters-tabs-home__cards
        .repeaters-tabs-home__card(v-for='i in 4')
          .repeaters-tabs-home__icon
            | Icon
          .repeaters-tabs-home__title
            | Title
          .repeaters-tabs-home__content
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
