.repeaters-tabs-home
  &__container
    @extend .container-fluid
    padding-bottom: rem-calc(64)

  &__cards
    &:nth-child(1)
      @extend .col-sm-offset-1

  &__card
    @extend .col-sm-3
    text-align: center

    &:hover
      cursor: pointer

    &:first-child
      @extend .col-sm-offset-1

    @media screen and (max-width: $screen-sm)
      padding: 2rem 0
      &:last-child
        padding: 2rem 0 0

  &__icon
    display: inline-block
    margin-bottom: rem-calc(24)
    border-radius: 50%
    background-color: $c8
    width: 94px
    height: 94px

  &__title
    @extend h4
    margin-bottom: rem-calc(24)
    height: 2.5rem
    text-align: center
    text-transform: uppercase
    color: $c7

  &__box
    @extend %p1
    position: fixed
    top: 0
    left: 0
    z-index: 9999
    background-color: $c12
    padding: 0 rem-calc(32)
    width: 100%
    height: 100%

  &__body
    @extend %p1

  &__modal
    @extend .col-sm-12
    @extend .col-sm-offset-3
    top: 50%
    transform: translateY(-50%)
    background-color: $c9
    padding: rem-calc(64)
    max-height: 90vh
    overflow: scroll

  &__image
    background-position: center center
    background-size: cover
    width: 100%
    height: 300px

  &__close
    position: absolute
    top: 10px
    right: 10px

    svg
      width: 40px
      height: 40px

      .x
        stroke: $c7

    &:hover
      cursor: pointer

  &__modal-body
    a
      color: $c4
