.repeaters-tabs-home
  &__container
    @extend .container-fluid
    padding-bottom: rem-calc(64)

  &__cards
    &:nth-child(1)
      @extend .col-sm-offset-1

  &__card
    @extend .col-sm-3
    text-align: center

    &:first-child
      @extend .col-sm-offset-1

    @media screen and (max-width: $screen-sm)
      padding: 2rem 0
      &:last-child
        padding: 2rem 0 0

  &__icon
    display: inline-block
    margin-bottom: rem-calc(24)
    border-radius: 50%
    background-color: $c8
    width: 94px
    height: 94px

    &:hover
      cursor: pointer

  &__title
    @extend h4
    margin-bottom: rem-calc(24)
    height: 2.5rem
    text-align: center
    text-transform: uppercase
    color: $c7

  &__box
    @extend .col-sm-10
    @extend .col-sm-offset-4
    @extend %p1
    transition: all .3s ease-in-out
    opacity: 0
    padding: 0 rem-calc(32)
    height: 0

    &--active
      opacity: 1
      border: 2px solid $c5
      border-radius: 1px
      padding: rem-calc(32)
      height: auto
