.repeaters-tabs-home
  .repeaters-tabs-home__container
    .repeaters-tabs-home__body
      .repeaters-tabs-home__cards
        .repeaters-tabs-home__card(v-for='i in props')
          .repeaters-tabs-home__icon
            object(:data='i.icon' type='image/svg+xml')
          .repeaters-tabs-home__title
            | {{ i.title }}
          .repeaters-tabs-home__content
            | {{ i.body }}
