.repeaters-home-images
  padding: 2rem 0
  &__container
    @extend .container-fluid
    max-width: none

  &__images
    height: 200px

    @media screen and (max-width: $screen-sm)
      height: 100%

    &:nth-child(1)
      @extend .col-sm-offset-1


  &__image-container
    @extend .col-sm-3
    position: relative
    width: 19.5%
    height: 200px

    @media screen and (max-width: $screen-sm)
      display: inline-block
      margin-bottom: rem-calc(16)
      width: calc(100%/2)
      height: inherit
      text-align: center

  &__image
    position: absolute
    top: 50%
    left: 50%
    transform: translateY(-50%) translateX(-50%)
    width: 75%

    @media screen and (max-width: $screen-sm)
      display: inline-block
      position: relative
      top: 0
      left: 0
      transform: none
    img
      width: 100%
