.hero
  &__backgroundimage
    position: relative
    background-repeat: no-repeat
    background-position: top
    background-size: cover

    .pages-about-us &, .pages-invisalign &, .pages-treatments &, .pages-wild-smiles &
      background-position: center center
      height: rem-calc(400)

  &__text-box

    .pages-about-us &, .pages-invisalign &, .pages-treatments &, .pages-wild-smiles &
      @extend h1
      position: absolute
      top: 60%
      left: 50%
      transform: translateX(-50%)
      text-transform: uppercase
      color: $c8
