.custom-section-home
  .custom-section-home__container
    .custom-section-home__textarea
      .custom-section-home__title
        | {{ props.title }}
      .custom-section-home__body(v-html='props.body')
