.pages-home
  Loader(v-show='loading')
  BackgroundLogo
  div(v-if='props')
    NavTrigger
      Hero(:props='props.acf.hero')
        
    .pages-home__section-1
      .pages-home__title
        BlockBox
          .block-header(slot='header')
            | {{ props.acf.header.title }}
          .block-subheader(slot='subheader')  
            | {{ props.acf.header.sub_title }}
          .block-body(slot='body' v-html='props.acf.header.body')
            | {{ props.acf.header.body }}

    CustomSectionHome(:props='props.acf.section_1')
    RepeaterTabsHome(:props='props.acf.section_1.repeater')
      
    .pages-home__slider
      .title-box
      .title
        | {{ props.acf.section_2.slider_title }}
      .subtitle
        | {{ props.acf.section_2.slider_subtitle }}
      .arrow
      Slider(auto=false, indicators='center')
        SliderItem(slot='item' v-for="(index, i) in props.acf.section_2.slider", :key='index')
          .icon
            object(:data='index.icon' type='image/svg+xml')
          .body
            | {{ index.body }}
          .author
            | {{ index.author }}
        .button-left(slot='button-left')
          object(:data='props.acf.section_2.btn_left' type='image/svg+xml')
        .button-right(slot='button-right')
          object(:data='props.acf.section_2.btn_right' type='image/svg+xml')
      //- .slider-image(:style="{ backgroundImage: 'url('+ props.acf.section_2.background +')'}")
  
    RepeatersHomeImages(:props='props.acf.icon_bar')
