.custom-about-us-team
  .custom-about-us-team__container
    //- .custom-about-us-team__slider
    //-   SliderAboutUsTeam(:props='props')
    .custom-about-us-team__grid
      GridTeam(:props='props')
