.pages-invisalign
  BackgroundLogo
  div(v-if='props')
    NavTrigger
      Hero(:props='props.acf.hero')
    CustomInvisalignSection(:props='props.acf.custom_invisalign_section')
    CustomInvisalignTeen(:props='props.acf.custom_invisalign_teen')
  
