.pages-wild-smiles
  BackgroundLogo
  div(v-if='props')
    NavTrigger
      Hero(:props='props.acf.hero')
    Intro(:props='props.acf.custom_wild_smiles_intro')
    Sections(:props='props.acf.custom_wild_smiles_sections')
    
  
