.custom-about-us-doctor

  &__container
    @extend .container-fluid
    padding-top: rem-calc(120)
    padding-bottom: rem-calc(64)

    @media screen and (max-width: $screen-sm)
      padding-top: rem-calc(64)
      padding-bottom: rem-calc(32)

  &__col
    &--left
      @extend .col-sm-5
      @extend .col-sm-offset-1

    &--right
      @extend .col-sm-12

  &__image
    margin-bottom: rem-calc(32)
    background-size: cover
    height: 400px

  &__section
    @extend .col-sm-18
    margin-bottom: rem-calc(32)

    @media screen and (max-width: $screen-sm)
      padding: 0
      text-align: center

    .custom-about-us-doctor__col--left &
      padding: 0

  &__icon
    display: inline-block
    position: absolute
    left: 0

    object
      width: rem-calc(40)
      max-height: rem-calc(40)

  &__textarea
    @extend .col-sm-18

  &__section-title
    @extend h3
    margin-bottom: rem-calc(16)
    margin-left: rem-calc(45)
    text-transform: uppercase

    &:hover
      cursor: pointer

  &__section-content
    animation: slide-in 5s ease-out
    margin-left: rem-calc(45)
    color: $c7

    &--active
      display: block
      animation: slide-in 5s ease-out
