.custom-wild-smiles-intro
  .custom-wild-smiles-intro__container
    .custom-wild-smiles-intro__textarea
      .custom-wild-smiles-intro__title
        | {{ props.title }}
      .custom-wild-smiles-intro__content(v-html='props.content')
        
