.repeaters-home-images-bottom
  .repeaters-home-images-bottom__container
    .repeaters-home-images-bottom__images
      .repeaters-home-images-bottom__image-container(v-for='image in props')
        .repeaters-home-images-bottom__image
          img(:src='image.icon')
