.custom-invisalign-section
  &__container
    @extend .container-fluid
    padding: rem-calc(84) 0

  &__image-bg
    @extend .col-sm-6

  &__image
    width: rem-calc(505)
    height: rem-calc(505)

  &__image-text
    @extend %p1
    margin-top: rem-calc(16)

  &__textarea
    @extend .col-sm-6

    h4
      margin-top: 0
      text-transform: uppercase
      letter-spacing: rem-calc(2)

    p
      margin-bottom: rem-calc(46)
      line-height: 1.19
