.block-text-box
  .block-text-box__container
    .block-text-box__col
      .block-text-box__left
        .block-text-box__body.block-text-box__body--title
          .block-text-box__title
            slot(name='header')
          .block-text-box__subtitle 
            slot(name='subheader')

      .block-text-box__right  
        .block-text-box__body
          slot(name='body')
