.block-text-box

  &__bg
    background-color: $c5
    height: 100%

    .pages-getting &
      background-color: $c9

    &:after
      display: table
      clear: both
      content: ''

  &__col
    height: 200px

    @media screen and (max-width: $screen-sm)
      height: 250px

    &--left
      @extend .col-sm-6
      @extend .col-sm-offset-1

      .pages-getting &
        text-align: center

    &--right
      @extend .col-sm-11
      background-color: $c8

      @media screen and (max-width: $screen-sm)
        padding-top: rem-calc(64)

  &__title
    @extend h1
    @extend .col-sm-16
    @extend .col-sm-offset-2
    text-transform: uppercase
    color: $c2

    .pages-getting &
      @extend h2
      width: 100%
      font-size: 28px

    @media screen and (max-width: $screen-sm)
      text-align: center

  &__subtitle
    @extend h2
    text-transform: uppercase
    color: $c7

    .pages-getting &
      @extend h3

    @media screen and (max-width: $screen-sm)
      text-align: center

  &__body
    @extend .col-sm-16
    @extend %p1
    position: absolute
    top: 50%
    transform: translateY(-50%)

    .pages-getting &
      @extend .col-sm-18
