.custom-wild-smiles-sections
  &__container
    @extend .container-fluid
    padding-bottom: rem-calc(64)

  &__image
    @extend .col-sm-8
    border: 2px solid $c6
    background-position: center 30%
    background-size: cover
    height: 350px

    &--option
      @extend .col-sm-offset-1

  &__textarea
    @extend .col-sm-9
    height: 350px

    &--option
      @extend .col-sm-offset-1


  &__position
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background-color: $c4
    padding: rem-calc(32) rem-calc(24)

  &__title
    @extend h3
    text-transform: uppercase

  &__content
    @extend %p2
    margin-top: rem-calc(16)
