.footer
  background-color: $c9
  height: 150px

  &__container
    @extend .container-fluid
    height: 100%

  &__textarea
    position: relative
    height: 100%

  &__location
    @extend .col-sm-3
    @extend .col-sm-offset-1
    height: 100%
    text-transform: uppercase

    &:after
      position: absolute
      top: 30%
      left: 0
      border-right: 1px solid $c3
      width: 100%
      height: 40%
      content: ''

  &__phone
    @extend .col-sm-3
    position: relative
    padding: 0 rem-calc(55)
    height: 100%

  &__social-media
    @extend .col-sm-6
    height: 100%


  &__social-text
    display: inline-block
    padding-left: rem-calc(20)
    width: 140px
    text-transform: uppercase

    &:after
      position: absolute
      top: 30%
      left: 0
      border-left: 1px solid $c3
      width: 100%
      height: 40%
      content: ''

  &__icons
    display: inline-block

  &__position
    position: absolute
    top: 50%
    transform: translateY(-50%)

  // ------------ svg

  &__icon
    display: inline-block

    object
      width: 50px
      pointer-events: none

  // ------------- rooster grin

  &__rooster
    @extend %p3
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    font-size: 12px
