.custom-contact-body
  .custom-contact-body__container
    .custom-contact-body__body
      .custom-contact-body__form
        FormContactPage(:props='props')
      
      .custom-contact-body__contact
        CustomContactColumn(:props='props')
