.pages-treatments
  Loader(v-show='loading')
  div(v-if='props')
    BackgroundLogo
    NavTrigger
      Hero(:props='props.acf.hero')
    Tabs(:props='props.acf.tabs')
    Accordion(:props='props.acf.accordion')
