.pages-treatments
  display: block
  .hero
    position: relative
    float: left
    width: 100%
    height: rem-calc(400)
  .hero__backgroundimage
    position: absolute
    top: 0
    right: 0
    left: 0
    float: left
    height: 80vh
  .hero__text-box
    position: absolute
    top: 50%
    left: 20%
    transform: translateY(-50%)
    
  .hero__title
    @extend %hero
    color: $c8
  .section-1,
  .section-2,
  .section-3
    @extend .clearfix
    padding: 2rem 0
  .segment-1,
  .segment-2,
  .segment-3,
  .segment-4
    @extend .clearfix
    @extend .col-sm-offset-1
    @extend .col-sm-10
    padding-top: 1rem
    padding-bottom: 1rem

  .section-1
    padding: 0 0 2rem
    .segment-2
      padding-bottom: 2rem
    .segment-3
      .block-treatments-body__title
        padding-bottom: 1rem

  .section-2
    .segment-1,
    .segment-3
      .block-treatments-body__title
        padding-bottom: 1rem
      .block-treatments-body__body
        padding-bottom: 1rem
    .segment-2
      .block-treatments-body__title
        padding-bottom: 1rem

  .section-3
    .segment-3
      @extend .col-sm-offset-1
      @extend .col-sm-8
      .block-treatments-image
        &__container
          height: 17rem
    .segment-5
      @extend .col-sm-18
      padding-top: 2rem
      padding-bottom: 2rem

      @media screen and (max-width: $screen-sm)
        padding: 2rem 1rem 0
      .sub-segment-1
        @extend .col-sm-10

        @media screen and (max-width: $screen-sm)
          padding: 0
      .sub-segment-2
        @extend .col-sm-7

        @media screen and (max-width: $screen-sm)
          padding: 1rem 0
