.custom-treatments-invisalign
  .custom-treatments-invisalign__container
    .custom-treatments-invisalign__left
      .custom-treatments-invisalign__title(v-html='props.title')
        | {{ props.title }}
      .custom-treatments-invisalign__body(v-html='props.body')
        | {{ props.body }}
    .custom-treatments-invisalign__right
      .custom-treatments-invisalign__list(v-html='props.list')
        | {{ props.list }}
