// functions
@keyframes moveIn
  from
    transform: translate3d(0, -6rem, 10px)
  to
    transform: translate3d(0, 0, 0)

@keyframes moveOut
  from
    transform: translate3d(0, 0, 0)
  to
    transform: translate3d(0, -6rem, 10px)

// static
.nav
  position: fixed
  float: left
  transition: all .5s ease-in
  z-index: 9999
  background: $c11
  width: 100%

  &.scrolled
    // animation: moveOut .35s ease-in forwards
    box-shadow: 1px 1px 3px $c13
    background-color: $c8

  &.reset
    background: $c11

  @media screen and (min-width: $screen-sm)
    display: block

  @media screen and (max-width: $screen-sm)
    display: none

  &__container
    @extend .container-fluid

  &__links
    float: right
    padding-right: rem-calc(16)

  &__misc
    float: right

  &__schedule-icon
    width: 30px
    margin-right: 10px
    display: inline-block
    vertical-align: middle

  &__login-container
    display: none
    position: absolute
    top: 55%
    right: 0
    width: 10rem
    &.open
      display: block

  //------

  &__logo
    position: absolute
    top: 50%
    left: rem-calc(32)
    transform: translateY(-50%)
    width: rem-calc(250)
    @media (max-width: 1100px)
      margin: 1rem 0

  &__link
    float: left
    padding-top: .6rem
    padding-bottom: 1.4rem
    padding-left: 1.3em

    @media screen and (max-width: $screen-lg)
      padding-left: .5em

    a
      display: block
      float: left
      text-align: center
      text-decoration: none
      line-height: 2rem
      color: $c1
      font-family: $font-family-sans-serif-option
      &:hover
        color: $c7
        font-weight: 700
      &:after
        display: block
        visibility: hidden
        height: 0
        overflow: hidden
        font-weight: bold
        content: attr(title)
      &.open
        color: $c7
        font-weight: 700
    &:first-child,
    &:last-child
      display: none

  &__phone
    position: relative
    float: left
    padding: 0 .75rem
    height: 50px

  &__phone-text
    padding-right: .5rem

  &__phone-contents
    position: relative
    top: calc(50px/2)

    transform: translateY(-50%)
    height: 2rem

    span
      @extend %p3
      display: inline-block
      position: relative
      transform: translateY(-40%)
      padding-left: 6px

      @media screen and (max-width: $screen-lg)
        display: none
    .icon-container
      display: inline-block
      width: 2rem
      font-size: 0

      &:hover
        .phone
          stroke: $c7
        .background
          fill: $c8

  &__appointment
    display: flex
    align-items: center
    justify-content: flex-start
    padding: .5rem .75rem
    color: $c7
    font-weight: 700
    cursor: pointer
  
  &__appointment-icon
    position: relative
    z-index: -1


  &__login
    position: relative
    float: left
    padding: .6rem 1rem 1.4rem 1.5rem
    a
      display: block
      float: left
      cursor: pointer
      text-align: center
      text-decoration: none
      line-height: 2rem
      color: $c1
      font-family: $font-family-sans-serif-option
      &:after
        display: block
        visibility: hidden
        height: 0
        overflow: hidden
        font-weight: bold
      &.open
        color: $c7
        font-weight: 700
    &:hover
      cursor: pointer
      a
        color: $c7
        font-weight: 700
      .nav__chevron
        border-color: $c7
      .nav__login-container
        .nav__log-link-1,
        .nav__log-link-2
          a
            color: $c1
            font-weight: 400
            &:hover
              color: $c7
              font-weight: 700
              &:before
                color: $c1
                font-weight: 400


    @media (max-width: 1100px)
      padding: 2rem .5rem

  &__chevron
    position: absolute
    right: -.5rem
    bottom: 55%
    transform: rotate(-45deg)
    border-bottom: 2px solid $c1
    border-left: 2px solid $c1
    width: .5rem
    height: .5rem
    &.open
      bottom: 45%
      transform: rotate(135deg)
      border-color: $c7

  &__log-link-1
    float: right
    a
      display: block
      float: left
      cursor: pointer
      text-align: center
      text-decoration: none
      line-height: 2rem
      color: $c1
      font-family: $font-family-sans-serif-option
      &:after
        display: block
        visibility: hidden
        height: 0
        overflow: hidden
        font-weight: bold
        content: attr(title)

  &__log-link-2
    position: relative
    float: right
    padding-left: 1rem
    a
      display: block
      float: left
      cursor: pointer
      text-align: center
      text-decoration: none
      line-height: 2rem
      color: $c1
      font-family: $font-family-sans-serif-option
      &:after
        display: block
        visibility: hidden
        height: 0
        overflow: hidden
        font-weight: bold
        content: attr(title)
      &:before
        position: absolute
        top: -.1rem
        left: .35rem
        font-size: 1.35rem
        content: '|'

.nav_top
  float: left
  width: 100%
  clear: both
