eventTrackingnav.nav(:class='classObject')
  .nav__bg
    .nav__container
      .nav_top
        .nav__logo
          router-link(to='/')
            Icon(name='logo')

        .nav__misc
            .nav__phone
              .nav__phone-contents
                span.nav__phone-text Call or Text Us Today!
                a(href="tel:+12158557717")
                  Icon(name='phone')
                  span 215.855.7717
            .nav__appointment.openchair-widget(@click='eventTracking()')
              Icon.nav__appointment-icon.nav__schedule-icon(name='calendar')
              | Free Consultation
      .nav_bott
        .nav__links
          .nav__link(v-for='(link, i ) in links', :key="i")
            router-link(:to='link.path' v-if='link.name !== "page-not-found" && link.name != "home" && link.name != "BlogPost" && link.name != "Thank You" && link.name !== "Redirect" ', :title='link.name')
              | {{ link.name }}

          .nav__login(@click='openLogin')
              a(title='Log In', :class='{ open: isOpen }')
                | Log In
              .nav__chevron(:class='{ open: isOpen }')
              .nav__login-container(:class='{ open: isOpen }')
                //- .nav__log-link-2
                  a(href="https://zebrick.cloud9ortho.com/portal/LoginAccount/Login" title='As Doctor')
                    | As Doctor
                .nav__log-link-1
                  a(href="https://zebrick.cloud9ortho.com/portal/LoginAccount/Login" target="_blank" title='As Patient')
                    | As Patient
