.slider(:style='{ width: width, height: height }')
  .background-testimonial(style="background-image: url('https://bzortho.com/wp-content/uploads/testimonial-bg1-1.jpg')")
    | {{ content }}
  .overlay
  .items
    slot(name='item')
  .indicators
    slot(name='indicators' @click='indicatorHandle(i)')
      span.slider-indicator-icon(:key='i', :class="{ 'slider-indicator-active': nowItemIndex === i - 1 }", @click='indicatorHandle(i - 1)', v-for='i in childrenLength')
  button.btn.btn-left(@click.stop='prev()')
    slot(name='button-left')
      i.slider-icon.slider-icon-left
  button.btn.btn-right(@click.stop='next()')
    slot(name='button-right')
      i.slider-icon.slider-icon-right
