.nav-mobile(v-bind:class='{ open: isClicked }')
  .nav-mobile__container
    .nav-mobile__logo
    
    .nav-mobile__hamburger(@click='toggle')
        span
        span
        span
        span

  .nav-mobile__links(v-bind:class='{ open: isClicked }')
    .nav-mobile__links-container
      .nav-mobile__link(v-for='link in links')
        router-link(:to='link.path' v-if='link.name !== "page-not-found" && link.name !== "blog" && link.name !== "Thank"')
          a {{ link.name }}
