.nav-mobile(v-bind:class='{ open: isClicked }')
  .nav-mobile__container
    .nav-mobile__logo
      Icon(name='logo')
      .nav-mobile__schedule-link
        a.openchair-widget(title='Make Appointment')
          Icon.nav-mobile__schedule-icon(name='calendar-icon')
      .nav-mobile__hamburger(@click='toggle')
        span
        span
        span
        span

  .nav-mobile__links(v-bind:class='{ open: isClicked }')
    .nav-mobile__links-container
      .nav-mobile__link(v-for='link in links' @click='toggle')
        router-link(:to='link.path' v-if='link.name !== "page-not-found" && link.name !== "BlogPost" && link.name !== "Thank"')
          a {{ link.name }}
      .nav-mobile__phone-content
        .nav-mobile__phone-text Call or Text Us Today!
        a(href="tel:+12158557717") 215.855.7717
