.block-treatments-title
  .block-treatments-title__container
    .block-treatments-title__title
      | {{ props.title }}
  
  .block-treatments-title__image
    .image(:style="{ backgroundImage: 'url('+ props.image +')'}")
