.modal-contact-survey
  .modal-contact-survey__container
    .modal-contact-survey__open(@click='active = true')
      | Post-Appointment Survey
      
  .modal-contact-survey__form(v-show='active')
    .modal-contact-survey__form-container
      .modal-contact-survey__close(@click='active = false')
        | Close
      .modal-contact-survey__listing
        | MODAL WITH FORM
